/* img{
          width:150px;
          height:200px;
          border:4px solid aqua;
          margin:50px;
      }*/

      /*Styling begins across all pages*/

      nav{
        border: 2px solid black;
      }

      nav ul{
        display: flex;
        justify-content:flex-end;
        gap: 25px;
      }

      nav ul li{
        list-style: none;
      }

      nav ul li a{
        text-decoration: none;
        color: black;
      }

      /*Styling ends across all pages*/

      /*Styling begins in the homepage*/
      .img1{
        border: 10px double darkcyan; /* the 3 values represents : border-width border-style border-colour*/
        margin: 10px 50px;
        width: 150px;
        height: 200px; /* the 2 values represent :top&bottom left&right*/
      }

      .img2{
        border: 10px dotted bisque;
        width: 150px;
        height: 200px;
         margin: 10px 25px 20px; /* the 2 values top left & right buttom* */
      }

      p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        font-weight:lighter;
       /* word-spacing:13px ;*/
       line-height: 3;
       text-align:justify;
       /* overflow-y:hidden */
      }

      button{
        color: blue;
        background-color: aquamarine;
        opacity: 0.9;
        width: 150px;
        height: 25px;
        border: 1px solid blueviolet;
        border-radius: 10px;
        cursor:pointer;
      }
      body{
       /* overflow-y:hidden;*/
      }
      /* Styling ends in the homepage*/

      /*login styling begins here*/
      
      .products{
        display: flex;
        justify-content: space-between;
        margin: 100px 50px;
       }

       .products div img{
        width: 200px;
        height: auto;
       }
